@model IEnumerable<Prova_JoseAndres.Models.Vacina>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dosagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aplicador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao_medicamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dosagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aplicador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao_medicamento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
